<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="container">Careers</h1>
    </div>
    <div class="bs-component">
      <div class="jumbotron">
      	<h2>Working @Incubus</h2>
      	<h2 class ="text-warning"> One Team</h2>
      	<p> We always think "we" instead of "me". Our individual success is a product of Incubus's success; not the other way around. </p>    	
        
        <h2 class ="text-warning">Transparency</h2>
        <p>There's nothing to hide at Incubus. If you want to know something, just ask.</p>
        <h2 class ="text-warning">Deskless</h2>
        <p>This signifies that we are not a typical office space. We move around and work like a team helping each other.</p>
        <h2 class ="text-warning">Think ahead</h2>
        <p>Wherever we're faced with a choice between short- and long-term, we always go long-term.</p>
        <h2 class ="text-warning">Never say no</h2>
        <p>We never say no. No task is too small, and no challenge is too big. Always go for it.</p>
        <h2 class ="text-warning">Growing</h2>
        <p>Our destination is a moving target. However much we achieve, we always find more ways to grow.</p>

		<ol type="I">
		  <li>Internships: Incubus technologies provides excellent atmosphere and opportunities for internship program.
Send your resume  at: ashna_incubustech@outlook.com</li>
		  <li>Graduage Engineers: Hiring for Graduate  Engineers.
Send your resume  at: ashna_incubustech@outlook.com
</li>
		</ol>
      </div>
    </div>
  </div>
</div>

