<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="container">Content Management System</h1>
    </div>
    <div class="bs-component">
      <div class="jumbotron">
        <p>Our  CMS makes content creation  and  delivery easy for you. 
It enables even non-technical users to efficiently build a website, streamline the web publishing procedures and quickly deploy them, helping you update your website.
Incubus works  on all major Content Management Systems like Joomla!, WordPress, Mambo, Drupal, osCommerce, DotNetNuke and Pligg CMS. Choose the most apt CMS web development platforms listed below, according to your needs.</p>
        
      </div>
    </div>
  </div>
</div>