<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="container">Corporate Timings</h1>
    </div>
    <div class="bs-component">
      <div class="jumbotron">
        <p>Global integration and international trade has meant the need for updated technical skills in the workplace.To help meet this growing demand, Incubus Technologies offers technology courses and workshops designed to evaluate and develop corpaorate skills. This portfolio of training and assessment solutions ranges from one-to-one coaching to end-to-end consultancies that help businesses achieve and sustain a competitive edge. Qualified and experienced training consultants apply an interactive, task-based methodology that ensures that new skills and knowledge can be quickly implemented back at work.</p>
        <p>
        <h2 class="text-warning">Advantage @Incubus</h2>
		<ul>
			<li>On Job trainings (OJT’s)</li>
			<li>Makes your workforce ready for upcoming projects and also increases their job-satisfaction.</li>
			<li>We design the training around your specific work profile.</li>
			<li>We provide training in all Network Technologies(from vendors like Cisco, Juniper and also security and firewalls from all vendors), Microsoft Server and Vmware etc, PHP , Ruby on Rails, SQLServer,  ERP, CRM, HRM, SCM..</li>
		</ul>                	
        
      </div>
    </div>
  </div>
</div>