<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="container">Corporate Facts</h1>
    </div>
    <div class="bs-component">
      <div class="jumbotron">
        <h2 class="text-warning">WHO WE ARE</h2>
        <p>Incubus Technologies has been established  by a team of thoroughly  professional engineers endeavoring to provide best  IT solutions to the industry. We are market leaders in providing best trainings and technology to colleges and companies.Incubus Technologies brings IT  Solutions and  Training under the skilled hands of its Cisco Certified professionals.</p>
        <h2 class="text-warning">Workforce</h2>
        <p>Incubus has a team of highly qualified IT professionals and trainers.</p>
        <h2 class="text-warning">Mission</h2>
    		<ul>
    			<li><p>To help clients achieve their objectives by providing innovative, best-in-class consulting, IT services and training.</p></li>
    			<li><p>To make it a joy for all stakeholders to work with us.</p></li>
        </ul>
        <h2 class="text-warning">Values</h2>
        <ul>
    			<li><p>Leading Change.</p></li>
    			<li><p>Integrity.</p></li>
    		</ul>                	
        
      </div>
    </div>
  </div>
</div>