
<div class="row">
  <div class="col-lg-6">
    <div class="bs-component">
      <blockquote >
        <p>Computer AMC keeps you free from technical problems to focus on your real business goals.</p>
        <small>Someone famous at <cite title="Source Title">Incubus</cite></small>
      </blockquote>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="container">Annual Maintenance</h1>
    </div>
    <div class="bs-component">
      <div class="jumbotron">
        <p>From troubleshooting server errors to updating the software and network performance monitoring to security. Complete hardware and software maintenance like any functionality of computer like internet surfing browser problems, computer running slow, microsoft office outlook and other business specific softwares, email or any other communication issues, multimedia problems, support for Operating System like Windows XP, 7, 8 and Mac OS and Linux etc. and complete security support of  Antivirus, Firewall, Antispyware, Parental controls etc.</p>
        <p>
        <p>We promise to maintain your computers for office  environment and all accessories like printer, scanner, cameras, software and all other you need for your business work. </p>
        <p>Just  contact  us to ensure  your business runs  uninterrupted and  with excellent  productivity and peace of  mind with our Technical  Support. </p>
        <p>Incubus  provides affordable Computer AMC services to  maintain your work computers. Our services are professional and dedicated for back-end support for all scale of businesses, schools, universities and corporates.</p>
      </div>
        <h2 class="text-warning">Ultimate advantage @Incubus</h2>
      <div class="panel panel-default">
        <div class="panel-heading">Backend support for your business</div>
        <div class="panel-body">
          Incubus Technologies specializes in providing quality and skilled backend support services staff to any backend operations.
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Quick</div>
        <div class="panel-body">
          Our computer AMC services are quick and our professional team is always ready to serve your requests.
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Reliable</div>
        <div class="panel-body">
          We provide effective troubleshooting and minimize downtime!
        </div>
      </div>  

      <div class="panel panel-default">
        <div class="panel-heading">Fair and Competitive</div>
        <div class="panel-body">
          Our policies and terms are simple and transparent to customers and we have very competitive pricing as we look forward to make long term relations.
        </div>
      </div>       

      <div class="panel panel-default">
        <div class="panel-heading">24X7</div>
        <div class="panel-body">
          Our services available as per customer needs.
        </div>
      </div>  

      <div class="panel panel-default">
        <div class="panel-heading">Professional</div>
        <div class="panel-body">
          A well experienced team of professional computer engineers ready to troubleshoot all kind of computer problems.
        </div>
      </div>  

    </div>
  </div>
</div>