
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="container">Management</h1>
    </div>
    <div class="bs-component">
      <div class="panel panel-default">
        <div class="panel-heading">ERP</div>
        <div class="panel-body">
          Total ERP Solution with multi-faceted features. The ERP solution is very easy to implement and use. It is designed to be modular, flexible, customizable, secure and incredibly robust for small and mid-sized businesses.

Enterprise Resource Planning with Impact offers you a very effective solution in the areas of Accounts, Excise, Purchase, Sales, Inventory, Manufacturing, CRM, HR & Payroll Management and many more…
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">CRM</div>
        <div class="panel-body">
          The Customer Relationship Management  tools of Incubus improve  operational efficiency, enhance productivity, enable customer satisfaction and growth strategies. The Incubus CRM is very flexible and easy to control.
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">HRM</div>
        <div class="panel-body">
          Incubus provides  HRM (Human Resource Management) Solutions suiting specific needs. 
        </div>
      </div>  

      <div class="panel panel-default">
        <div class="panel-heading">SCM</div>
        <div class="panel-body">
           Incubus ensures  a distinct module to value-add your Supply Chain Management. With this module it is very easy and effective to establish projects and master projects. It  enables you to associate users with all the facets of the system. 

Incubus SCM is a better solution to accurately handle bill work for any project and monitor the progress in billing modes. It  enables you to generate reports on revenues, expenses for any project.

        </div>
      </div>       

    </div>
  </div>
</div>