<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="container">Online Marketing</h1>
    </div>
    <div class="bs-component">
      <div class="jumbotron">
        <p>We create content useful to visitors of your site, and use best SEO techniques which positions your website above the rest as a resource within your industry.</p>
        <p>We are an Engaging Social Media Company using facebook, twitter, LinkedIn, YouTube/Vimeo and all other social networks to promote your website.</p>
        <h2 class="text-warning">Ultimate advantage @Incubus</h2>
    		<ul>
    			<li><p>Comprehensive Online Marketing</p></li>
    			<li><p>Effectice SEO Techniques.</p></li>
    			<li><p>Paid Search – PPC, Ad Networks, google ads etc to get business for you.</p></li>
    			<li><p>Reputation and Brand Management.</p></li>
    		</ul>                	
        
      </div>
    </div>
  </div>
</div>