<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="container">Research and Development</h1>
    </div>
    <div class="bs-component">
      <div class="jumbotron">
        <p>Incubus Technologies to promote R&D, has made allainces in academic circles and High Tech industry. We try to be always at the cutting edge of Technology and make way for modern practices way ahead of our competitors.</p>        	
        
      </div>
    </div>
  </div>
</div>