


<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="container">Network Services</h1>
    </div>
    <div class="bs-component">
      <div class="jumbotron">
        <p>We are experts at restoring networks to their  full  capacity, making them faster and more reliable. Incubus  offers a complete array of Network Services. Basically, if it is at all related to IT, we do it. In addition to the major services we offer, we can also help with cabling planning, design, and implementation; disaster recovery planning; and a complete IT infrastructure move, physical - either within the same building or to a completely new location. Our Network Engineers are ready to visit your site and review your present installation and topology to make recommendations. Furthermore, unlike other organizations, if it isn't broken and you do not need our services at this moment in time, then we will tell you so. By engaging us, you will also avoid the high cost of training and long training time associated with developing your own in house solutions.</p>
        <p>             	
		<ul>
			<li><p>Design</p></li>
			<li><p>Implementation</p></li>
			<li><p>Support</p></li>
			<li><p>Security</p></li>
			<li><p>Wireless Services</p></li>
			<li><p>Other services like Video conferencing, IP Telephony and Telepresence etc.</p></li>
		</ul> 
        
      </div>


    </div>
  </div>
</div>