<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="container">Corporate Social Sustainability</h1>
    </div>
    <div class="bs-component">
      <div class="jumbotron">
        
        <h2 class="text-warning">We are focussed in our sustainability efforts</h2>
    		<ul>
    			<li><p>Improving education in our community, so that future generations have opportunities for professional and personal growth.</p></li>
    			<li><p>Reducing the environmental impact of our operations.</p></li>
    			<li><p>Providing a safe workplace while promoting professional development.</p></li>
    			<li><p>Maintaining high standards of business conduct.</p></li>
          <li><p>Delivering superior service and tangible business advantages to our clients.</p></li>
          
    		</ul>                	
        
      </div>
    </div>
  </div>
</div>