<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1 id="container">Winter Training</h1>
    </div>
    <div class="bs-component">
      <div class="jumbotron">
        <h1>Internship Program</h1>
        <p>Utilize the winter holidays to  learn something valuable for your career. We have a team of highly skilled and successful IT professionals who mentor you as trainers.</p>
        <p>
        <p>
            The certification is nationally acclaimed which further adds value to your profile. Motivating factor behind it is to keep you step ahead of other competitors in job market. 
        </p>
        <ul>
        	<li><p>Only Program designed with  Off-Campus and On-Campus Placements in mind</p></li>
        	<li><p>Its not just a workshop, it trains you for Technical , Personality Development and Job Interview.</p></li>
        	<li><p>Major/Minor Project is also done</p></li>
        	<li><p>CCNA course is covered</p></li>
        	<li><p>After completion of this program students can apply as Graduate Engineers and Network Engineers in all IT companies.</p></li>
        	<li><p>100% interactive and fun practical learning !</p></li>
        </ul> 
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
      </div>
    </div>
  </div>
</div>